body, html {
  margin: 0;
  padding: 0;
  font-size: 0;
}
body {
  background-color: rgb(220,220,220);
  height: 100%;
  text-align: center;
  font-family: verdana;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*----------------------------------------------------------------------------*/
/*----------          mainSVG          ---------------------------------------*/
/*----------------------------------------------------------------------------*/
#mainSVG {
  background-color: rgba(220,220,220,1);
  box-shadow: 0 0 3vw rgb(100,149,237,0) inset;
}

#bobMain, #bobMainS{
  font-size: 40px;
  opacity: 0;
}

.txt1 {
  fill: rgba(0,0,0,0.7);
  font-size: 17px;
  letter-spacing: 0.05vw;
  text-shadow:0 0 8px white, 0 0 8px white;
}

/*----------------------------------------------------------------------------*/
/*----------          HTML elements & Bootstrap         ----------------------*/
/*----------------------------------------------------------------------------*/
.html1, .mainContent {
  position: absolute;
  top:0;bottom:0;left:0;right:0;
}

.mainContent {
  margin: auto;
  width: 100vw;
  height: 37.5vw;
  margin-top: 12.6vw;
}

.carousel-inner > .item > img, video
.carousel-inner > .item > a > img, video {
    width: 51vw;
    height: 30vw;
    margin: auto;
    margin-top: 3.5vw;
    margin-bottom: 0.15vw;
}

.pic, video {
  border-radius: 0.4vw;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

video { /*width: 46.25vw; height: 24.3vw; margin-top: 2vw; margin-bottom: 1vw;*/
  object-fit: cover;
}

.carousel-indicators li {
    display: inline-block;
    width: 1.2vw;
    height: 1.2vw;
    margin: 2vw;
    margin-bottom: -5vw;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,255,0.3);
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);
}
.carousel-indicators .active {
    width: 1.5vw;
    height: 1.5vw;
    margin: 2vw;
    margin-bottom: -5vw;
    background-color: rgba(25,25,200,0.8);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.mediaGraph::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.mediaGraph::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.mediaGraph {
  font-size: 14px;
  width: 48vw;
  height: 6.5vw;
  margin: auto;
  margin-bottom: -3.5vw;
  padding-top: 0.5vw;
  border-radius: 0.5vw;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.3);
  overflow: auto;
}

#infoText {
  color: rgba(255,255,255,0.9);
  /*background-color: rgba(0,0,0,0.3);*/
  height: 30vw;
  margin-bottom: -4.5vw;
  text-align: left;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  height: 28vw;
  width: 25vw;
}

#prevA, #nextA{
  width: 90%;
  height: 90%;
  margin-top: 4.8vw;
  margin-left: 2.9vw;
  opacity: 0.1;

}
#nextA {
  margin-top: 4.8vw;
  margin-left: -3.5vw;
}

#projBar {
  width: 95%;
  height: 5%;
  margin: auto;
  margin-right: 3.5%;
  margin-top: 50.5%;
}

.projs {
  font-size: 1.8vw;
  color: rgba(0,0,0,0.65);
  /*background-color: rgba(255,255,255,0.1);*/
  background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.3) 10%
    ,rgba(150,150,150,0.5) 10%, rgba(255,255,255,0.3) 80%);
  /*background-color: #F07575; fallback color if gradients are not supported
  background-image: -webkit-linear-gradient(top, hsl(0, 80%, 70%), #bada55); For Chrome 25 and Safari 6, iOS 6.1, Android 4.3
  background-image:    -moz-linear-gradient(top, hsl(0, 80%, 70%), #bada55);  For Firefox (3.6 to 15)
  background-image:      -o-linear-gradient(top, hsl(0, 80%, 70%), #bada55); For old Opera (11.1 to 12.0)
  background-image:         linear-gradient(to bottom, hsl(0, 80%, 70%), #bada55); Standard syntax; must be last */
  width: 16vw;
  height: 2.8vw;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
  /*margin-top: -2.5vw;*/
  vertical-align: text-top;
  vertical-align: text-bottom;
  border-radius: 0.3vw;
  transition: background-color .5s ease-in-out;
}

#projBlank{
  pointer-events: none;
  height: 4.5vw; width: 0;
}

#proj0:hover, #proj1:hover, #proj2:hover, #proj3:hover, #proj4:hover{
  background-color: white;
  transition: background-color .5s ease-in-out;
}

/*----------------------------------------------------------------------------*/
/*----------          TOP LAYER SVGs          --------------------------------*/
/*----------------------------------------------------------------------------*/
#infotoolsSVG{
  opacity: 0;
}

#infoIcon, #toolsIcon {
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  opacity: 0.4;
  width: 4vw;
  margin-top: 16vw;
  margin-left: 20vw;
  transition: opacity .15s ease-in-out, width .15s ease-in-out
    , margin-left .15s ease-in-out;
}

#infoIcon:hover {
  opacity: 1;
  width: 7vw;
  transition: opacity .15s ease-in-out, width .15s ease-in-out
}

#infoIcon:active {
  opacity: 0.4;
}

#toolsIcon {
  margin-left: 75.8vw;
}

#toolsIcon:hover {
  opacity: 1;
  width: 7vw;
  margin-left: 72.8vw;
  transition: opacity .15s ease-in-out, width .15s ease-in-out
  , margin-left .15s ease-in-out;
}

#toolsIcon:active {
  opacity: 0.4;
}

#allSkills {
  width: 0;height: 0vw; opacity: 0;
}

#bobIcon {
  width: 35vw;
  margin-top: 15vw;
  opacity: 0.8;
  display: none;
}


#aboutMeText{
  font-size: 1.8vw;
  color: rgba(50,50,50,0.8);
  width: 60vw;
  margin-top: 15vw;
  margin-left: 37vw;
  text-align: left;
  display: none;

}


.noMouse {
  pointer-events: none;
}

/*----------------------------NOTES---------------------------------------------
- to make the lines sharp pixels not anti-alus...
line {
  stroke: rgb(100,149,237);
  /*shape-rendering: crispEdges;
}

*/
